@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --soft-blue: hsl(215, 52%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  background-color: var(--main-bg);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto;
  background-color: var(--card-bg);
  max-width: 18.14em;
  max-height: min-content;
  border-radius: 10px;
  padding: 1.3em;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
}

.nft-container {
  position: relative;
}

.nft-image {
  width: 18.07em;
  border-radius: 10px;
  flex: 1;
  margin-bottom: 1.3em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18.07em;
  width: 18.07em;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--cyan);
  border-radius: 10px;
}

.nft-container:hover .overlay {
  opacity: 0.8;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.name {
  color: var(--white);
  font-weight: 600;
  font-size: 22px;
  align-self: flex-start;
  margin-bottom: 1em;
}

p,
li {
  color: var(--soft-blue);
  font-weight: 300;
}

.description {
  font-size: 18px;
  margin-bottom: 1em;
}

.price-date {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4em;
}

.price-date li:first-of-type {
  font-weight: 600;
  color: var(--cyan);
}

.price-date li {
  list-style: none;
}

.price img,
.date img {
  vertical-align: middle;
  padding-bottom: 4.5px;
  margin-right: 5px;
}

.vertical-line:after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--line);
  margin-bottom: 1.2em;
}

.author-img {
  width: 35px;
  border: 1px solid white;
  border-radius: 35px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex: 1;
  margin-bottom: 0.5em;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
